<p>
  <strong>Concepto:</strong>
  <%= @expense.concept %>
</p>
 
<p>
  <strong>Valor:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @expense.fecha %>
</p>

<%= link_to 'Atras', expenses_path %> |

